# Variables de entorno
.env
.env.*

venv/
dist/
dist_final/
dist_ofuscado/
build/
*.app
*.dmg

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# Archivos sensibles - NO SUBIR NUNCA
Build and Instructions/"


# Instaladores y binarios
IVR_2.5.spec
IVR_2.5_Setup.exe
installer_script.iss


# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
